## Deliverable 3. Create a Travel Itinerary Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [36]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,New Norfolk,AU,54.00,overcast clouds,-42.78,147.06,The Shingles Riverside Cottages
1,3,Carnarvon,AU,57.20,clear sky,-24.87,113.63,Hospitality Carnarvon
2,5,Puerto Ayora,EC,66.16,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,6,Labytnangi,RU,52.32,overcast clouds,66.66,66.42,Priuralye Hotel
4,7,Rikitea,PF,69.08,clear sky,-23.12,-134.97,Pension Maro'i
...,...,...,...,...,...,...,...,...
235,684,Cherlak,RU,58.71,clear sky,54.16,74.81,Gostinitsa V Cherlake
236,694,Namyslow,PL,63.00,light intensity shower rain,51.08,17.72,Hotel Zorza
237,695,Ucluelet,CA,70.00,broken clouds,48.93,-125.55,Black Rock Oceanfront Resort
238,696,Kyotera,UG,66.76,clear sky,-0.62,31.52,NEW PARADISE GUEST HOUSE
239,700,Kiama,AU,57.99,clear sky,-34.68,150.87,The Sebel Kiama Harbourside

In [37]:
city_count_df = vacation_df.groupby("Country").count()["City"]

In [38]:
new_vacation_df = pd.merge(vacation_df,city_count_df,on=["Country","Country"])

In [39]:
new_vacation_df = new_vacation_df.loc[new_vacation_df["City_y"] >= 4]
new_vacation_df

,City_ID,City_x,Country,Max Temp,Current Description,Lat,Lng,Hotel Name,City_y
0,2,New Norfolk,AU,54.00,overcast clouds,-42.78,147.06,The Shingles Riverside Cottages,18
1,3,Carnarvon,AU,57.20,clear sky,-24.87,113.63,Hospitality Carnarvon,18
2,12,Yulara,AU,53.60,clear sky,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort,18
3,20,Codrington,AU,50.14,clear sky,-38.27,141.97,Codrington Gardens Bed And Breakfast,18
4,132,Gladstone,AU,66.20,clear sky,-23.85,151.25,Highpoint International,18
...,...,...,...,...,...,...,...,...,...
208,417,Vegueta,PE,63.03,few clouds,-11.02,-77.64,Hospedaje GaviÃ³n,7
209,419,Chachapoyas,PE,60.60,scattered clouds,-6.23,-77.87,Teresita,7
210,551,Hualmay,PE,63.07,few clouds,-11.10,-77.61,Hotel Restaurant TurÃ­stico Casablanca,7
211,556,Acari,PE,63.37,broken clouds,-15.43,-74.62,Hospedaje Ximens,7
212,579,Ambo,PE,65.86,scattered clouds,-10.13,-76.20,La Loma Resort,7

In [40]:
unique_countries = list(new_vacation_df["Country"].unique())
country_list = ""
print("From the list below select one Country you want to travel:")
for country in unique_countries:
    country_list += (f"{country}, ")
print(country_list)    
chosen_country = input("Make Selection:")

From the list below select one Country you want to travel:
AU, RU, CN, CA, BR, US, ZA, CL, ES, NZ, IR, PT, UA, AR, NO, KZ, PE,
Make Selection:US

In [41]:
us_cities_df = vacation_df.loc[vacation_df["Country"]==chosen_country]
us_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,24,Kodiak,US,64.40,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
24,64,Nome,US,57.99,overcast clouds,64.50,-165.41,Dredge 7 Inn
35,86,Wasilla,US,60.80,clear sky,61.58,-149.44,Alaska's Select Inn Wasilla
38,93,Fairbanks,US,59.00,broken clouds,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center
45,114,College,US,57.99,broken clouds,64.86,-147.80,Pike's Waterfront Lodge
57,130,Kenai,US,62.60,few clouds,60.55,-151.26,Aspen Extended Stay Suites
88,225,Sitka,US,57.20,broken clouds,57.05,-135.33,Westmark Sitka
119,317,Monroe,US,70.00,overcast clouds,43.15,-77.68,Staybridge Suites Rochester University
194,549,Ketchikan,US,57.20,moderate rain,55.34,-131.65,Snows Cove Lodge
209,612,Englewood,US,70.00,light rain,39.65,-104.99,InTown Suites Extended Stay Denver CO - Englewood
214,629,Juneau,US,53.60,moderate rain,58.30,-134.42,"Baranof Downtown, BW Signature Collection"
232,679,Homer,US,57.20,clear sky,59.64,-151.55,Beluga Lake Lodge

In [42]:
# Select 4 cities randomly
four_cities = us_cities_df.sample(n=4)
four_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
232,679,Homer,US,57.20,clear sky,59.64,-151.55,Beluga Lake Lodge
119,317,Monroe,US,70.00,overcast clouds,43.15,-77.68,Staybridge Suites Rochester University
45,114,College,US,57.99,broken clouds,64.86,-147.80,Pike's Waterfront Lodge
38,93,Fairbanks,US,59.00,broken clouds,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in us_cities_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = us_cities_df[["Lat", "Lng"]]

In [44]:
# 4a. Add a marker layer for each city to the map.
max_temp = us_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=='Kodiak'),:]
vacation_end = vacation_df.loc[(vacation_df["City"]=='Kodiak'),:]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=='Englewood'),:]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=='College'),:]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=='Fairbanks'),:]

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

stop1 = (four_cities.to_numpy()[1][5],four_cities.to_numpy()[1][6])
stop2 = (four_cities.to_numpy()[2][5],four_cities.to_numpy()[2][6])
stop3 = (four_cities.to_numpy()[3][5],four_cities.to_numpy()[3][6])

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (four_cities.to_numpy()[0][5],four_cities.to_numpy()[0][6])
end = (four_cities.to_numpy()[0][5],four_cities.to_numpy()[0][6])
fig = gmaps.figure()
roundtrip = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,24,Kodiak,US,64.40,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
1,612,Englewood,US,70.00,light rain,39.65,-104.99,InTown Suites Extended Stay Denver CO - Englewood
2,114,College,US,57.99,broken clouds,64.86,-147.80,Pike's Waterfront Lodge
3,93,Fairbanks,US,59.00,broken clouds,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
len(locations)

4

In [52]:
len(max_temp)

12

In [53]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))